@charset "UTF-8";

a:link {color:black;}
a:visited {color:black;}

header {height:100px; background-color:#ba55d3;} 
.logo:hover {text-decoration:none;}

nav {height:50px;}

.banner {height:500px;}
.insta {height:180px;}

footer {height:100px; background-color:#ba55d3;}

.title {height:50px; background-color:#ba55d3;}

#emailCheckBtn {width:100px; color:white; background-color:#ba55d3;}

#signUpBtn {color:white; background-color:#ba55d3;}

.loginPageBg {width:1000px; height:300px; background-color:#ba55d3;}
.circle {width:200px; height:200px; border-radius:50%; background-color:#945050;
font-size:25px; text-align:center; line-height:200px;}

.loginBtn {color:white; background-color:#ba55d3;}
.vocList {height:700px;}
.vocCreate {height:700px;}
.vocCreateBtn {color:white; background-color:#ba55d3;}
#saveBtn {color:white; background-color:#ba55d3;}
#vocListBtn {color:white; background-color:#ba55d3;}

.purplepin {width:30px; height:30px;}
.line {width:30px; height:30px;}
.purpleNumber {height:100px;}
.purpleMap {height:100px;}